<div class="d-grid gap-2 col-6 mx-auto">
    <a href="/notes/create" class="btn btn-success">Crear nota</a>
</div>
<br>
<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/update/{{_id}}"><i class="fa fa-edit"></i></a>
                </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <center>
                    <h3>Hola {{user.name}}!</h3>
                    <h6 class="lead">No hay notas aún</h6>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="/notes/create" class="btn btn-success">Crear nota</a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    {{/each}}
</div>